*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  scroll-behavior: smooth;
}

.imagem{
  width:"150"; 
  height:"180";
}

.botao{
  display: flex;
  justify-content: center;
}
.navbar{
  background-color: #9e459e;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-style: normal;
}


.table  {
  background-color: #ffffff;
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  text-align: left;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.paginação{
  text-align: center;
}
ul.pagination {
  display: inline-block;
  padding: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

ul.pagination li a.active {
  background-color: #9e459e;
  color: white;
  border: 1px solid #9e459e;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.table > thead{
  background-color: #9e459e;
  color: white;
  padding: 26px 0;
}

.table > tbody > tr > td{
  padding: 16px 0;
}
